*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: Overused Grotesk;
    src: url(fonts/OverusedGrotesk-VF.ttf);
}

body {
  cursor: url('images/cursor1.png') default;
}

.options-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 50px;
    margin-bottom: 0px;
    overflow: hidden;
}

.options{
 font-family: Overused Grotesk;
 font-size: 18pt;
 font-weight: 400;
 line-height: 1;
 letter-spacing: -6%;
 text-decoration: none;
 color: black;
}

.options:hover{
    font-size: 25pt;
    transition: font-size ease-in-out .6s;
    transition-delay: 0.05s;

}

.header{
    display: flex;
    justify-content: left;
    margin-top: 200px;
    margin-left: 30px;

}

.header-text{
    font-family: Overused Grotesk;
    font-size: 250pt;
    letter-spacing: -12pt;
    line-height: 65%;
    font-weight: 500;
}

span{
    margin-left: 50px;
}

.slideshow-container {
    position: absolute; /* Keep this one absolute for layout */
    max-width: 600px;
    width: 600px;
    height: 600px;
    margin: auto;
    overflow: hidden;
    align-items: center;
    margin-left: 870px;
    margin-top: 50px;
}

.footer-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top: 400px;
    gap: 50px;
    margin-bottom: 50px;
}

.socials{
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.icon{
    width: 50px;
}

.instagram{
    width: 40px;
    margin-top: 5px;
}

#tiktok{
    width: 70px;
    margin-top: -10px;
}

.email{
    width: 55px;
    margin-top: -5px;
}

.copyright{
    display: flex;
    align-items: center;
}

.copyright-text{
    font-family: Overused Grotesk;
    font-size: 18px;
    letter-spacing: -5%;
    line-height: 1;
    font-weight: 400;
    color: black;
    margin-top: -14px;
}

hr{
    margin-top: 400px;
}

#bottom-line{
    margin-top: 25px;
    padding-bottom: 20px;
}

.gradient{
    position: fixed;
    width: 1600px;
    height: 1000px;
    top: 0;
    left: 0;
    z-index: -1;
    margin-top: 75px;
}

 @media (max-width: 768px) {
                .options-container {
                    margin: 30px 20px 0;
                    gap: 10px;
                }

                .options {
                    font-size: 14pt;
                }

                .options:hover {
                    font-size: 16pt;
                }

                .header {
                    margin-top: 100px;
                    margin-left: 20px;
                }

                .header-text {
                    font-size: 100pt;
                    letter-spacing: -5pt;
                    line-height: 70%;
                }

                span {
                    margin-left: 20px;
                }

                .footer-container {
                    margin-top: 200px;
                    gap: 25px;
                    flex-direction: column;
                }

                .gradient{
                    position: fixed;
                    width: 500px;
                    height: 400px;
                    top: 0;
                    left: 0;
                    z-index: -1;
                    margin-top: 75px;
                }

                .icon {
                    width: 40px;
                }

                .instagram {
                    width: 32px;
                }

                #tiktok {
                    width: 56px;
                }

                .email {
                    width: 44px;
                }

                .copyright-text {
                    font-size: 14px;
                    text-align: center;
                }
            }

            /* Small mobile styles */
            @media (max-width: 480px) {
                .options-container {
                    margin: 20px 15px 0;
                    gap: 8px;
                }

                .options {
                    font-size: 12pt;
                }

                .options:hover {
                    font-size: 14pt;
                }

                .header {
                    margin-top: 80px;
                    margin-left: 15px;
                }

                .header-text {
                    font-size: 70pt;
                    letter-spacing: -3pt;
                }

                  .gradient{
                    position: fixed;
                    width: 300px;
                    height: 200px;
                    top: 0;
                    left: 0;
                    z-index: -1;
                    margin-top: 75px;
                }

                span {
                    margin-left: 15px;
                }

                .footer-container {
                    margin-top: 150px;
                    gap: 20px;
                }

                .socials {
                    gap: 15px;
                }
            }

            /* Large desktop styles */
            @media (min-width: 1600px) {
                .header-text {
                    font-size: 300pt;
                    letter-spacing: -14pt;
                }

                .options {
                    font-size: 20pt;
                }

                .options:hover {
                    font-size: 28pt;
                }

                  .gradient{
                    position: fixed;
                    width: 1500px;
                    height: 1000px;
                    top: 0;
                    left: 0;
                    z-index: -1;
                    margin-top: 75px;
                }

                .footer-container {
                    margin-top: 500px;
                }
            }