*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: Overused Grotesk;
    src: url(fonts/OverusedGrotesk-VF.ttf);
}

body {
  cursor: url('images/cursor1.png') default;
}

.options-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-left: 30px;
    margin-right: 30px;
    margin-top: 50px;
    margin-bottom: 0px;
    overflow: hidden;
}

.options{
 font-family: Overused Grotesk;
 font-size: 18pt;
 font-weight: 400;
 line-height: 1;
 letter-spacing: -6%;
 text-decoration: none;
 color: black;
}

.options:hover{
    font-size: 25pt;
    transition: font-size ease-in-out .6s;
    transition-delay: 0.05s;

}

.header{
    display: flex;
    justify-content: left;
    margin-top: 200px;
    margin-left: 30px;

}

.header-text{
    font-family: Overused Grotesk;
    font-size: 250pt;
    letter-spacing: -12pt;
    line-height: 65%;
    font-weight: 500;
}

span{
    margin-left: 50px;
}

.slideshow-container {
    position: absolute; /* Keep this one absolute for layout */
    max-width: 600px;
    width: 600px;
    height: 600px;
    margin: auto;
    overflow: hidden;
    align-items: center;
    margin-left: 870px;
    margin-top: 50px;
}

.footer-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top: 400px;
    gap: 50px;
    margin-bottom: 50px;
}

.socials{
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.icon{
    width: 50px;
}

.instagram{
    width: 40px;
    margin-top: 5px;
}

#tiktok{
    width: 70px;
    margin-top: -10px;
}

.email{
    width: 55px;
    margin-top: -5px;
}

.copyright{
    display: flex;
    align-items: center;
}

.copyright-text{
    font-family: Overused Grotesk;
    font-size: 18px;
    letter-spacing: -5%;
    line-height: 1;
    font-weight: 400;
    color: black;
    margin-top: -14px;
}

hr{
    margin-top: 400px;
}

#bottom-line{
    margin-top: 25px;
    padding-bottom: 20px;
}

.gradient{
    position: fixed;
    width: 1600px;
    height: 1000px;
    top: 0;
    left: 0;
    z-index: -1;
    margin-top: 75px;
}