*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: Overused Grotesk;
    src: url(fonts/OverusedGrotesk-VF.ttf);
}

body {
  cursor: url('images/cursor1.png') default;
}

.options-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-left: 30px;
    margin-right: 30px;
    margin-top: 50px;
    margin-bottom: 0px;
    overflow-x: hidden;
}

.options{
 font-family: Overused Grotesk;
 font-size: 18pt;
 font-weight: 400;
 line-height: 1;
 letter-spacing: -6%;
 text-decoration: none;
 color: black;
}

.options:hover{
    font-size: 25pt;
    transition: font-size ease-in-out .6s;
    transition-delay: 0.05s;

}

.header{
    display: flex;
    justify-content: left;
    margin-top: 200px;
    margin-left: 30px;

}

.header-text{
    font-family: Overused Grotesk;
    font-size: 250pt;
    letter-spacing: -12pt;
    line-height: 65%;
    font-weight: 500;
}

span{
    margin-left: 50px;
}

.gradient{
    display: block;
    width: 105%;
    margin-top: -785px;
    margin-left: -80px;
    overflow-x: hidden;
    position: fixed;
    align-self: center;
    overflow-y: hidden;
    pointer-events: none;
}

.footer-container{
    display: flex;
    display: block;
}

.socials{
    display: flex;
    flex-direction: row;
    gap: 20px;
    margin-left: 450px;
    margin-top: 20px;
}

.icon{
    width: 50px;
}

.instagram{
    width: 40px;
    margin-top: 5px;
}

#tiktok{
    width: 70px;
    margin-top: -10px;
}

.email{
    width: 55px;
    margin-top: -5px;
}

.copyright{
  display: flex;
  align-items: center;
  margin-left: 850px;
  margin-top: -50px;
  padding-bottom: 10px;
}

.copyright-text{
  font-family: Overused Grotesk;
  font-size: 18px;
  letter-spacing: -5%;
  line-height: 1;
  font-weight: 400;
  color: black;
}

hr{
    margin-top: 400px;
}

#bottom-line{
    margin-top: 25px;
    padding-bottom: 20px;
}
