*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    max-width: fit-content;
}

@font-face {
    font-family: Overused Grotesk;
    src: url(fonts/OverusedGrotesk-VF.ttf);
}


h1 {
    font-family: "Overused Grotesk";
    font-style: normal;
    font-weight: 400;
    font-size: 180px;
    line-height: 130px;
    letter-spacing: -4px;
    color: #FFA8BA;
    position: relative;
    top: 40px;
    left: 200px;

}



.options-container{
    /* display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 50px;
    margin-bottom: 0px;
    overflow: hidden; */
    position: fixed;
    top: 40%;
    left: 25px;
    margin-left: 20px;
    
}

.options{
    color: #FFA8BA;
    font-family: "Overused Grotesk";
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: uppercase;
}

.options2{
    color: #AADDFF;
    font-family: "Overused Grotesk";
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: uppercase;
}

.options :hover{
    color: #000000;
    font-family: "Overused Grotesk";
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    cursor: pointer;
    line-height: normal;
    text-transform: uppercase;
}

.options2 :hover{
    color: #000000;
    font-family: "Overused Grotesk";
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    cursor: pointer;
    line-height: normal;
    text-transform: uppercase;
}





.prev-arrow {
  left: 10px;
}

.next-arrow {
  right: 10px;
}

/* Show arrows/overlay when active class is added by JS */
#lightbox-overlay.active {
  display: flex;
}

h2 {
    font-family: "Overused Grotesk";
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 19px;
    letter-spacing: -0.5px;
    position: relative;
    left: 400px;
    top: 120px;
    z-index: 1;
}


.vertical {
  width: 80px;
  height: auto;
  position: absolute;
  left: 1350px;
  top: 30px;
}

h3 {
  font-family: "Overused Grotesk";
    font-style: normal;
    font-weight: 400;
    font-size: 80px;
    line-height: 130px;
    letter-spacing: -4px;
    color: #AADDFF;
    writing-mode: vertical-rl;
    text-orientation: mixed;
    position: absolute;
    left: 1325px;
    top: 150px;
}

.backgroundimg {
    width: 500px;
    z-index: 2;
}